<div class="jumbotron center">
  <h1>Welcome to ReciepeShare App</h1>
  <h2>Want to cook ?..fell free to browse all reciepe</h2>
  <%= link_to "Sign up", "#", class: "btn btn-success" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Reciepes as Guest User
    </h3>
    <h2 class="left">
      Browse and view reciepes as a guest and Sign up latter
    </h2>
    <p><%= link_to "Browse Reciepe Listing", "#", class: "btn btn-warning" %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View Reciepes as Guest User
    </h3>
    <h2 class="left">
      Browse and view reciepes as a guest and Sign up latter
    </h2>
    <p><%= link_to "Browse Reciepe Listing", "#", class: "btn btn-warning" %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View Reciepes as Guest User
    </h3>
    <h2 class="left">
      Browse and view reciepes as a guest and Sign up latter
    </h2>
    <p><%= link_to "Browse Reciepe Listing", "#", class: "btn btn-warning" %></p>
  </div>
</div>
